{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Raspberry Pi Location Scouter {% endblock %}</h1>
    <form method="post" action="/show">
    <div class="form-group">
        <label >latitude</label>
        <input  type="text" name="latitude"
               placeholder="Enter the value of latitude" class="form-control"
               value=""></input>
    </div>

    <div class="form-group">
        <label >longitude</label>
        <input  type="text" name="longitude"
               placeholder="Enter the value of longitude" class="form-control"
               value=""></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


 <div>
  {% for e in filess %}

    <img class="img" src="{{ url_for('static', filename = e ) }}" style="width: 100%;" alt="User Image">
      <br> <br/>
  {% endfor %}
</div>

{% endblock %}
